doctype html
html
    head
        title Console Spice Web Client
        meta(charset="utf-8")
        <!-- libs -->
        script(src="spice/lib/modernizr.js")
        script(src="spice/lib/jquery-2.0.3.js")
        script(src="spice/lib/jquery-mousewheel.js")
        script(src="spice/lib/jgestures.min.js")
        script(src="spice/lib/pixastic.js")
        script(src="spice/lib/base64.js")
        script(src="spice/lib/biginteger.js")
        script(src="spice/lib/virtualjoystick.js")
        script(src="spice/lib/prettyprint.js")
        <!-- ticketing -->
        script(src="spice/lib/jsbn.js")
        script(src="spice/lib/jsbn2.js")
        script(src="spice/lib/prng4.js")
        script(src="spice/lib/rng.js")
        script(src="spice/lib/sha1.js")
        script(src="spice/lib/encrypt.js")
        <!-- end libs -->
        <!-- core -->
        script(src="spice/swcanvas/swcanvas.js")
        script(src="spice/lib/bowser.js")
        script(src="spice/lib/utils.js")
        script(src="spice/lib/flipper.js")
        script(src="spice/lib/CollisionDetector.js")
        script(src="spice/lib/GlobalPool.js")
        script(src="spice/lib/GenericObjectPool.js")
        script(src="spice/lib/AsyncConsumer.js")
        script(src="spice/lib/AsyncWorker.js")
        script(src="spice/lib/PacketWorkerIdentifier.js")
        script(src="spice/spiceobjects/spiceobjects.js")
        script(src="spice/spiceobjects/generated/protocol.js")
        script(src="spice/lib/graphicdebug.js")
        script(src="spice/lib/images/lz.js")
        script(src="spice/lib/images/bitmap.js")
        script(src="spice/lib/images/png.js")
        script(src="spice/lib/runqueue.js")
        script(src="spice/lib/graphic.js")
        script(src="spice/lib/queue.js")
        script(src="spice/lib/ImageUncompressor.js")
        script(src="spice/lib/SyncAsyncHandler.js")
        script(src="spice/lib/IntegrationBenchmark.js")
        script(src="spice/lib/stuckkeyshandler.js")
        script(src="spice/lib/timelapsedetector.js")
        script(src="spice/lib/displayRouter.js")
        script(src="spice/lib/rasterEngine.js")
        script(src="spice/lib/DataLogger.js")
        script(src="spice/network/socket.js")
        script(src="spice/network/clusternodechooser.js")
        script(src="spice/network/socketqueue.js")
        script(src="spice/network/packetcontroller.js")
        script(src="spice/network/packetextractor.js")
        script(src="spice/network/packetreassembler.js")
        script(src="spice/network/reassemblerfactory.js")
        script(src="spice/network/sizedefiner.js")
        script(src="spice/network/packetlinkfactory.js")
        script(src="spice/network/spicechannel.js")
        script(src="spice/network/busconnection.js")
        script(src="spice/network/websocketwrapper.js")
        script(src="spice/network/connectioncontrol.js")
        script(src="spice/application/agent.js")
        script(src="spice/application/spiceconnection.js")
        script(src="spice/application/clientgui.js")
        script(src="spice/application/packetprocess.js")
        script(src="spice/application/packetfilter.js")
        script(src="spice/application/packetfactory.js")
        script(src="spice/application/application.js")
        script(src="spice/application/virtualmouse.js")
        script(src="spice/application/imagecache.js")
        script(src="spice/application/rasteroperation.js")
        script(src="spice/application/stream.js")
        script(src="spice/application/inputmanager.js")
        script(src="spice/process/busprocess.js")
        script(src="spice/process/displayprocess.js")
        script(src="spice/process/displaypreprocess.js")
        script(src="spice/process/inputprocess.js")
        script(src="spice/process/cursorprocess.js")
        script(src="spice/process/playbackprocess.js")
        script(src="spice/process/mainprocess.js")
        script(src="spice/keymaps/keymapes.js")
        script(src="spice/keymaps/keymapit.js")
        script(src="spice/keymaps/keymapus.js")
        script(src="spice/keymaps/keymap.js")
        script(src="spice/application/WorkerProcess.js")
        script(src="spice/run.js")
        <!-- end core -->
        meta(content="yes" name="apple-mobile-web-app-capable")

        link(type="text/css", rel='stylesheet', href="/spice/console.css", media="screen,projection")
    body
        #testVdi
        input#getStats(type="button" value="getStats" style="display:none;position:absolute;top:0px;right:0px;z-index:100;width:200px;height:200px;")
        input#hiddeninput(type="text" style="display:none;opacity:0;font-size:60px;color:transparent")
        div#canvasSpace(style="display: none; height: 1024px")
        div#graphicDebug(style="display: none; background-color: white; font-family: Consolas,Lucida Console,Courier,mono")
            button#clearButton(type="button" onclick="$(debugInfo).html('');") Clear
            input#logActive(type="checkbox" value="Log")
            div#debugInfo(style="background-color: white")
        div#integrationBenchmark(style="width=100% height=100%")
            div.closeButton(class="" onclick="closeIntegrationBenchmark();") X
            button#launchWordButton(type="button" onclick="startBenchmark()") Start benchmark

