header
    nav
        a.brand-logo.right.logo_name(href="#") CDWS
        a.sidenav-trigger.hide-on-large-only(href='#', data-target='slide-out', data-activates="slide-out")
            i.material-icons menu
        .nav-wrapper
            .col.s12
                a.breadcrumb(href="#!") Virtual machines
                //a.breadcrumb(href="#!") Second