doctype html
html
  head
    title CDWS
    link(rel="icon" href="/images/favicon.ico")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(type="text/css", rel='stylesheet', href="/stylesheets/materialize.css", media="screen,projection")
    link(type="text/css", rel='stylesheet', href="/stylesheets/nouislider.css", media="screen,projection")
    link(type="text/css", rel='stylesheet', href="/stylesheets/style_over.css", media="screen,projection")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")


  body
    block content

    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="javascripts/bin/materialize.min.js")
    script(src="javascripts/nouislider.min.js")
    script(src="javascripts/initMaterialize.js")
