extends layout

block content
    .login_bg
        .row.v-align
            .col.s12.m8.offset-m2.l4.offset-l4
                form#loginForm.card.grey.darken-3.hoverable
                    .card-content.white-text
                        span.card-title.center CDWS
                        .section
                            .input-field
                                input#email.validate.white-text(type="email" required)
                                label(for="email") Email
                            .input-field.white-text
                                input#pass.validate.white-text(type="password" pattern=".{8}.*" required title="At least 8 characters")
                                label(for="pass") Password
                        a(href="#" style="margin: 0 15px") Forgot your password?
                    .card-action.login_actions
                        a.btn.signup_btn.amber.darken-3(href="/signup") Sign up
                        a#confirm.btn.login_btn(onclick="login()") Login
    include main_scripts
    script(src="/javascripts/api_calls/token_manager.js")
    script(src="/javascripts/api_calls/req_config.js")
    script(src="/javascripts/api_calls/api_req.js" onload="$(\"#pass\").keyup(function(event) { if (event.keyCode === 13) { $(\"#confirm\").click() } });")