ul#slide-out.sidenav.sidenav-fixed
    li: .user-view
        .background
            img(src='/images/bg.jpg')
        a.non-clickable(href='#user')
            img.circle(src='/images/user_profile_photo.jpg')
        a.non-clickable(href='#name')
            span.white-text.name John Doe
        a.non-clickable(href='#email')
            span.white-text.email jdandturk@gmail.com
    li: a.waves-effect.red(href='#!')
        i.material-icons cloud
        | Vitual machines
    li: a.waves-effect(href='#!')
        i.material-icons storage
        | Volumes
    li: a.waves-effect(href='#!')
        i.material-icons show_chart
        | Stats
    li: a.disabled.non-clickable(href='#!')
        i.material-icons layers
        | Containers [not available yet]
    //li: .divider