ul#slide-out.sidenav.sidenav-fixed
    li: .user-view
        .background
            img(src='/images/bg.jpg')
        a.btn-small.waves-light.logout-btn.orange(href='/logout') Log out
        a.non-clickable(href='#user')
        -if(!data.user.avatar_image)
        img.circle(src='/images/user_profile_photo.jpg')
        -else
        img.circle(src= "'" + data.user.avatar_image + "'" )
        a.non-clickable(href='#name')
            span.white-text.name= data.user.name
        a.non-clickable(href='#email')
            span.white-text.email= data.user.email

    case data.section
        when "vm"
            li: a.waves-effect.waves-light.red(href='/dashboard/vm')
                i.material-icons cloud
                | Vitual machines
            li: a.waves-effect.waves-light(href='/dashboard/vol')
                i.material-icons storage
                | Volumes
            li: a.waves-effect.waves-light(href='/dashboard/images')
                i.material-icons donut_small
                | Images
            li: a.disabled.waves-effect.waves-light.non-clickable(href='/dashboard/stats')
                i.material-icons show_chart
                | Statistics [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/ct')
                i.material-icons layers
                | Containers [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/network')
                i.material-icons layers
                | Network [not available yet]
        when 'vol'
            li: a.waves-effect.waves-light(href='/dashboard/vm')
                i.material-icons cloud
                | Vitual machines
            li: a.waves-effect.waves-light.red(href='/dashboard/vol')
                i.material-icons storage
                | Volumes
            li: a.waves-effect.waves-light(href='/dashboard/images')
                i.material-icons donut_small
                | Images
            li: a.disabled.waves-effect.waves-light.non-clickable(href='/dashboard/stats')
                i.material-icons show_chart
                | Statistics [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/ct')
                i.material-icons layers
                | Containers [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/network')
                i.material-icons layers
                | Network [not available yet]
        when 'images'
            li: a.waves-effect.waves-light(href='/dashboard/vm')
                i.material-icons cloud
                | Vitual machines
            li: a.waves-effect.waves-light(href='/dashboard/vol')
                i.material-icons storage
                | Volumes
            li: a.waves-effect.waves-light.red(href='/dashboard/images')
                i.material-icons donut_small
                | Images
            li: a.disabled.waves-effect.waves-light.non-clickable(href='/dashboard/stats')
                i.material-icons show_chart
                | Statistics [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/ct')
                i.material-icons layers
                | Containers [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/network')
                i.material-icons layers
                | Network [not available yet]
        when 'stats'
            li: a.waves-effect.waves-light(href='/dashboard/vm')
                i.material-icons cloud
                | Vitual machines
            li: a.waves-effect.waves-light.red(href='/dashboard/vol')
                i.material-icons storage
                | Volumes
            li: a.waves-effect.waves-light(href='/dashboard/images')
                i.material-icons donut_small
                | Images
            li: a.disabled.waves-effect.waves-light.non-clickable(href='/dashboard/stats')
                i.material-icons show_chart
                | Statistics [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/ct')
                i.material-icons layers
                | Containers [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/network')
                i.material-icons layers
                | Network [not available yet]
        default
            li: a.waves-effect.waves-light(href='/dashboard/vm')
                i.material-icons cloud
                | Vitual machines
            li: a.waves-effect.waves-light(href='/dashboard/vol')
                i.material-icons storage
                | Volumes
            li: a.waves-effect.waves-light(href='/dashboard/images')
                i.material-icons donut_small
                | Images
            li: a.disabled.waves-effect.waves-light.non-clickable(href='/dashboard/stats')
                i.material-icons show_chart
                | Statistics [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/ct')
                i.material-icons layers
                | Containers [not available yet]
            li: a.disabled.waves-light.non-clickable(href='/dashboard/network')
                i.material-icons layers
                | Network [not available yet]

    //li: .divider