$white_color: #f0f0f0;
$gray_color: #303030;
$green_accent_color: #53ca1e;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header, main, footer {
  padding-left: 300px;
  @media only screen and (max-width: 992px) {
    padding-left: 0;
  }
}

main {
  padding: 6px 6px 6px 306px;
  @media only screen and (max-width: 992px) {
    padding: 1px;
  }
}

nav {
  background-color: $gray_color;
}

.logo_name {
  margin-right: 15px;
}

.sidenav {
  background-color: $gray_color;
}

.sidenav li > a, .sidenav .subheader, .sidenav li > a > i.material-icons {
  color: $white_color;
}

.sidenav .user-view {
  margin-bottom: -2px;
}

.sidenav .user-view .logout-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  font-size: 0.65em;
  line-height: 1em;
}

.breadcrumb:first-child {
  margin-left: 20px;
}

.table-container {
  padding: 20px;
}

.name {
  font-weight: bold;
  cursor: pointer;
}

.vcpu {
  cursor: pointer;
}

.ram {
  cursor: pointer;
}

.ram::after {
  content: " GB";
}

.storage {
  cursor: pointer;
}

.storage::after {
  content: " MB";
}

.status {
  width: 200px;
  cursor: pointer;
}

.status a {
  color: #f0f0f0;
  font-weight: bold;
}

.action {
  width: 300px;
}

.action a {
  margin-right: 3px;
}

.non-clickable {
  cursor: default;
}

.v-align {
  padding-top: 20vh;
}

.login_bg {
  height: 100%;
  background-color: $gray_color;
  overflow: auto;
}

.card .card-title {
  font-size: 2.8em;
}

.login_actions {
  height: 60px;
}

.card > .login_actions > .signup_btn {
  position: absolute;
  bottom: 12px;
  left: 20px;
  margin-right: 0;
}

.card > .login_actions > .login_btn {
  position: absolute;
  bottom: 12px;
  right: 20px;
  margin-right: 0;
}

.modal > .modal-footer > .modalBtn {
  margin-right: 15px;
}

.vm-card {
  margin: 10px;
}

.vm-title-cont {
  height: 80px;
}

.card > .card-content > .vm-title {
  padding-bottom: 10px;
  font-size: 3.5em;
  font-weight: 600;
  //color: #f0f0f0;
}

.vm-spec {
  //color: white;
}

.vol-name {
  width: 10%;
}

.vol-bar {
  width: 30%;
}

.progress{
    margin-top: 1rem;
}

.vol-storage::after {
  content: " MB";
}

.vol-alloc {
  width: 10%;
}

.vol-del {
  width: 12%;
}

.vol-del-btn {
  margin-left: 4px;
  margin-bottom: 3px;
}

.isos-dropdown {
  width: 300px;
}

.cd-status{
  color: #f0f0f0;
}

.modal .modal-content {
  padding-bottom: 120px;
}

#modalCloneVol {
  width: 400px;
}